[user]
	name = YOUR_NAME
	email = YOUR_EMAIL
	username = YOUR_USERNAME
[core]
  autocrlf = input
	excludesfile = /Users/YOUR_MAC_USERNAME/.gitignore_global
	editor = code --wait
[push]
  default = simple
[color]
  ui = true
[log]
  date = relative
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
  lg = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset - %C(green)%cr%Creset -%C(magenta)%d%Creset %s %C(blue)(%an)%Creset'
  lga = log --all --graph --decorate --pretty=format:'%C(yellow)%h%Creset - %C(green)%cr%Creset -%C(magenta)%d%Creset %s %C(blue)(%an)%Creset'
  lgo = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  d = difftool
  co = checkout
  pf = push --force-with-lease
	s = status
  pr = pull --rebase
  sp = stash pop
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true